<h1>Welcome to iKanBan</h1>

<h3>iKanBan can help you and your team organize tasks and get stuff done!</h3>

<p>Already have an account? <%= link_to "Login", login_path %></p>
<p>Ready to get started? <%= link_to "Sign Up", new_user_path %></p>