<div class="#{type.lowercase}" style="width: 33%; float: left">
<h3><%= type %> Tasks </h3>
<ul>
<% @project.task_type("#{type}").each do |t| %>
  <li><%= link_to "#{t.description}", project_task_path(project_id: t.project.id, id: t.id) %>  
  <%= button_to "<", {controller: :tasks, action: :back_category, id: t.id}, method: :post, form: {style: 'display:inline-block;'} %>
  <%= button_to ">", {controller: :tasks, action: :advance_category, id: t.id}, method: :post, form: {style: 'display:inline-block;'} %>
  </li><br>
<% end %>
</ul>
<br><br>
</div>