<div class="#{task_type.lowercase}" style="width: 33%; float: left">
<h3><%= task_type %> Tasks </h3>
<ul>
<% @project.task_type("#{task_type}").each do |t| %>
  <li><%= link_to "#{t.description}", task_path(t) %><%= button_to "->", {controller: :tasks, action: :advance_category, id: t.id}, method: :post %></li>
<% end %>
</ul>
</div>