<%= render partial: 'errors', locals: {project: @project} %>
<br>
<h3>Create a New Project Board</h3><br>
<%= form_for @project do |f| %>
  <%= render partial: 'form', locals: {f: f} %>
  <%= f.submit "Create" %>
<% end %>
<br><br><br>