<br>
<h2 style="text-align: center"><%= @project.title %></h2>

  <%= render partial: 'task', locals: {task_type: "Future"} %>

  <%= render partial: 'task', locals: {task_type: "Current"} %>

  <%= render partial: 'task', locals: {task_type: "Complete"} %>