<br>
<h2 style="text-align: center"><%= @project.title %></h2>

<% categories.each do |c| %>
  <%= render partial: 'task', locals: {type: "#{c}"} %>
<% end %>

<div style="width: 100%; float: left">
<% if current_user %>
  <%= button_to "Add Task", new_project_task_path(project_id: @project.id), method: :get %>
<% end %>
  <br><br><br>
</div>